# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.out
*.err

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment files
.env
.env.local
.env.*.local

# Build / cache
dist/
build/
.cache/
coverage/
.next/
out/

# IDE/editor
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
